*::-webkit-scrollbar{width: 1px;}

ul {
    list-style: none;
   }
   main {
    .ms_video-card {
     overflow: hidden;
     height: 360px;
     
     .ms_cover-image {
      height: 100%;
      overflow: hidden;
      .altFoto{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $headerBgColor;
        margin-top: 40px;
        height: 79%;
        width: 100%;
      }
      img {
       height: 100%;
       width: 100%;
       object-fit: contain;
       
      }
     }
     ul {
      display: block;
        width: 0;
        height: 0;
        transition: width 1s , height 1s;
      li {
       font-size: 0.8rem;
      }
     }
     &:hover ul {
      background-color: $headerBgColor;
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 25px;
      overflow-y: scroll;
      overflow-x: hidden;
     }
     &:hover .ms_cover-image {
      width: 0;
      height: 0;
      transition: width 1s , height 1s;
     }
    }
   }